{% extends 'base.html.twig' %}

{% block body  %}
    <div class="container mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Gestion des pilotes</h1>



        <table class="table table-striped">
            <thead>
            <tr>
                <th>Numéro de sécu</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>License</th>
                <th>Heures de vol</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for pilot in pilots %}
                <tr>
                    <td> {{ pilot.numSecu }} </td>
                    <td> {{ pilot.surname }} </td>
                    <td> {{ pilot.firstname }} </td>
                    <td> {{ pilot.license }} </td>
                    <td> {{ pilot.flyingHours }} </td>
                    <td>
                        <a href="{{ path('admin.pilot.edit', {id: pilot.id}) }}"
                           class="btn btn-secondary">Editer</a>
                        <form method="post"
                              action="{{ path('admin.pilot.delete', {id: pilot.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Etes-vous vraiment sûr de vouloir supprimer ce pilote ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pilot.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="text-right">
            <a href="{{ path('admin.pilot.new') }}" class="btn btn-primary">Ajouter un pilote</a>
        </div>

    </div>

    <div class="container mt-4">

        <h1>Gestion des membres d'équipage</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Numéro de sécu</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Fonction</th>
                <th>Heures de vol</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for member in aircrew %}
                <tr>
                    <td> {{ member.numSecu }} </td>
                    <td> {{ member.surname }} </td>
                    <td> {{ member.firstname }} </td>
                    <td> {{ member.functionName }} </td>
                    <td> {{ member.flyingHours }} </td>
                    <td>
                        <a href="{{ path('admin.aircrew.edit', {id: member.id}) }}"
                           class="btn btn-secondary">Editer</a>
                        <form method="post"
                              action="{{ path('admin.aircrew.delete', {id: member.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Etes-vous vraiment sûr de vouloir supprimer ce membre d\'équipage ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="text-right">
            <a href="{{ path('admin.aircrew.new') }}" class="btn btn-primary">Ajouter un membre d'équipage</a>
        </div>

    </div>

{% endblock %}