{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4 ">
        <h1>Réservation</h1>
        <br />
        <h2>Vos informations</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Passager</h5>
                <div class="card-text">
                    Nom : {{ user.surname }} <br />
                    Prénom : {{ user.firstname }} <br />
                    Adresse : {{ user.address }} <br />
                    E-mail : {{ user.email }} <br />
                </div>
            </div>
        </div>
        <br />
        <div>
            <h2>Vol n° {{ departure.flight.id }}</h2>
            <h4>Appareil : {{ departure.flight.aircraft.registrationNumber }} (Modèle {{ departure.flight.aircraft.model.name }})</h4>
            <br />
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Départ : {{ departure.departureDate.format('d/m/Y') }} à {{ departure.flight.DepartTime.format('H:i') }}</h5>
                    <div class="card-text">
                        Aéroport : {{ departure.flight.departAirport.name }} ({{ departure.flight.departAirport.iata }}) <br />
                        Ville : {{ departure.flight.departAirport.city }} <br />
                        Pays : {{ departure.flight.departAirport.country }}
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Arrivée : {{ departure.getArrivalDate.format('d/m/Y') }} à {{ departure.flight.getArrivalTime.format('H:i') }}</h5>
                    <div class="card-text">
                        Aéroport : {{ departure.flight.arrivalAirport.name }} ({{ departure.flight.arrivalAirport.iata }}) <br />
                        Ville : {{ departure.flight.arrivalAirport.city }} <br />
                        Pays : {{ departure.flight.arrivalAirport.country }}
                    </div>
                </div>
            </div>
        </div>
        <br />
        <a style="float:right;font-size: 1.5rem;" href="{{ path('ticket.new', {
            departure_id: departure.id,
            user_id: user.id
        }) }}"
           class="btn btn-primary">Confirmer la réservation</a>
    </div>
{% endblock %}


