{% extends 'base.html.twig' %}

{% block body  %}
    <div class="container mt-4">

        <h1>Modèles d'appareils</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Capacité</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for aircraft_model in aircraft_models %}
                <tr>
                    <td> {{ aircraft_model.name }} </td>
                    <td> {{ aircraft_model.capacity }} </td>
                    <td>
                        <a href="{{ path('admin.aircraft_model.edit', {id: aircraft_model.id}) }}"
                           class="btn btn-secondary">Editer</a>
                        <form method="post"
                              action="{{ path('admin.aircraft_model.delete', {id: aircraft_model.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Etes-vous vraiment sûr de vouloir supprimer ce modèle ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aircraft_model.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="text-right">
            <a href="{{ path('admin.aircraft_model.new') }}" class="btn btn-primary">Ajouter un modèle</a>
        </div>

    </div>

    <div class="container mt-4">

        <h1>Gestion de la flotte</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Immatriculation</th>
                <th>Modèle</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for aircraft in aircrafts %}
                <tr>
                    <td> {{ aircraft.registrationNumber }} </td>
                    <td> {{ aircraft.model.name }} </td>
                    <td>
                        <a href="{{ path('admin.aircraft.edit', {id: aircraft.id}) }}"
                           class="btn btn-secondary">Editer</a>
                        <form method="post"
                              action="{{ path('admin.aircraft.delete', {id: aircraft.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Etes-vous vraiment sûr de vouloir supprimer cet appareil ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aircraft.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <div class="text-right">
            <a href="{{ path('admin.aircraft.new') }}" class="btn btn-primary">Ajouter un nouvel appareil</a>
        </div>

    </div>

{% endblock %}