{{ form_start(form) }}

<div class="row">
    <div class="col-md-4">{{ form_row(form.pilot) }}</div>
    <div class="col-md-4">{{ form_row(form.copilot) }}</div>
</div>

<div class="row">
    <div class="col-md-4">{{ form_row(form.purser) }}</div>
    <div class="col-md-4">{{ form_row(form.crew) }}</div>
    <div class="col-md-4">{{ form_row(form.price) }}</div>
</div>


{{ form_widget(form) }}
<button class="btn btn-primary">{{ button | default('Enregistrer') }}</button>
{{ form_end(form) }}

