{% extends 'base.html.twig' %}

{% block body  %}
    <div class="container mt-4">

        <h1>Départs</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date de départ</th>
                <th>Vol associé</th>
                <th>Passagers</th>
                <th>Prix du billet</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for departure in departures %}
                <tr>
                    <td> {{ departure.departureDate|date('d/m/Y') }} </td>
                    <td> {{ departure.flight.id }} : {{ departure.flight.departAirport.destination }} ({{ departure.flight.departAirport.iata }}) -> {{ departure.flight.arrivalAirport.destination }} ({{ departure.flight.arrivalAirport.iata }})</td>
                    <td> {{ departure.passengers }} </td>
                    <td> {{ departure.price }} </td>
                    <td>
                        <a href="{{ path('admin.departure.edit', {id: departure.id}) }}"
                           class="btn btn-secondary">Editer</a>
                        <form method="post"
                              action="{{ path('admin.departure.delete', {id: departure.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Etes-vous vraiment sûr de vouloir supprimer ce départ ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departure.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}