<div class="card" style="width: 75%;margin: 0 auto;">
    <div class="card-body">
        <h5 class="card-title">
            Liaison : {{ departure.flight.departAirport.destination }} ({{ departure.flight.departAirport.iata }}) -> {{ departure.flight.arrivalAirport.destination }} ({{ departure.flight.arrivalAirport.iata }})
        </h5>
        <h5> Départ prévu le {{ departure.departureDate.format('d/m/Y')}} à {{ departure.flight.DepartTime.format('H:i') }}</h5>
        <p class="card-text">
            {{ departure.availablePlaces() }} places disponibles
        </p>

        {% if departure.passengers < departure.flight.aircraft.model.capacity %}

        <div class="text-primary" style="font-weight:bold;font-size: 2rem;">
            {{ departure.price }} €
            {% if is_granted('ROLE_USER') %}
                <a style="float:right;font-size: 1.5rem;" href="{{ path('booking.new', {id: departure.id}) }}"
                   class="btn btn-primary">Réserver</a>
            {% else %}
                <a style="float:right;font-size: 1.5rem;" href="{{ path('app_login', {id: departure.id}) }}"
                   class="btn btn-primary">Réserver</a>
            {% endif %}
        </div>
        {% else %}
            <p style="float:right;font-size: 1.5rem;">Ce vol est déjà complet ...</p>
        {% endif %}

    </div>
</div>
<br />